/*база*/
* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f4f4f4;
    padding: 20px;
}

.main-container {
    display: flex;
    align-items: flex-start;
    gap: 70px;
    width: 90%;
    max-width: 1400px;
    margin: 30px;
}

h2 {
    color: #333;
    margin-bottom: 30px;
    text-align: center;

}

input.invalid, select.invalid, textarea.invalid {
    border: 2px solid red;
    background-color: #fff5f5;
}

.error-text {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}


/* Форма*/
#form {
    flex-shrink: 0;
    width: 350px;
    background: rgb(195, 230, 255);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.group {
    margin-bottom: 15px;

}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

option,
select,
input,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    margin-top: 5px;
}

#submitBtn {
    background: #28a745;
    color: white;
    border-radius: 10px;
    border: none;
}

#clearBtn {
    background: #6c757d;
    color: white;
    border-radius: 10px;
    border: none;
}



/* Таблиця*/
.passes {
    width: 90%;
    flex-grow: 1;
    padding: 20px;
    background: rgb(195, 230, 255);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    border-collapse: collapse;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    max-height: 60%;
}
th {
    padding: 10px;
    text-align: center;
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 20%;
}

td {
    text-align: center;
    padding: 10px;
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 20%;
}

.filters {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    width: 100%;
}

.search {
    flex: 1;
    gap: 10px;
    border-radius: 10px;

}

#statusSearch {
    flex: 1;
    gap: 10px;
    border-radius: 10px;
}
.btn-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    justify-content: right;
    margin-top: 10px;
    margin-right: 10px;
    max-width: 100px;
}
.edit-btn {
    width: 100px;
    background: #ffc107;
    color: white;
    border: none;
    border-radius: 10px;
}

.delete-btn {
    width: 100px;
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 10px;
}